<header
  class="site-header"
  role="banner">
  <button class="toggle-nav">
    <div class="toggle-nav-inner"></div>
    <div class="for-screen-readers">Menu</div>
  </button>
  <a href="/" class="logo">
    <%= image_tag "logo.svg", alt: "Chapels Logo", class: "logo-large" %>
  </a>
  <div class="nav-wrap">
    <nav
      class="nav"
      role="navigation">
      <ul>
        <li><a href="/" class="scaled-bg-link"><span class="bg">Home</span></a></li>
        <li><a href="/" class="scaled-bg-link active"><span class="bg">Shop</span></a></li>
        <li><a href="/" class="scaled-bg-link"><span class="bg">Subscriptions</span></a></li>
        <li><a href="/" class="scaled-bg-link"><span class="bg">Gift Cards</span></a></li>
        <li><a href="/" class="scaled-bg-link"><span class="bg">Help</span></a></li>
        <li><a href="/" class="scaled-bg-link"><span class="bg">Contact</span></a></li>
        <li><a href="/" class="scaled-bg-link"><span class="bg">About</span></a></li>
        <li class="for-fablet"><a href="/" class="scaled-bg-link"><span class="bg">Sign In</span></a></li>
        <li class="for-fablet"><a href="/" class="scaled-bg-link"><span class="bg">Sign Up</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="social">
    <p>Social links will go here</p>
  </div>
</header>
