<article class="ddd product-listing" itemscope itemtype="http://schema.org/Product">
  <div class="ddd-top">
    <a itemprop="url" class="product-listing-link scaled-bg-link" href="/product">
      <figure>
        <img class="product-listing-image" itemprop="image" src="http://placehold.it/430x600" />
      </figure>
      <div class="product-listing-meta">
        <h1 itemprop="name" class="product-listing-title bg"><%= title %> Sock</h1>
        <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">£9.00</span>
        </div>
      </div>
    </a>
  </div>
  <div class="ddd-bottom"></div>
</article>
