---
title: Welcome to Middleman
---
<div class="product-collection">
  <%= partial "partials/product_listing", locals: { title: "Hemingway" } %>
  <%= partial "partials/product_listing", locals: { title: "Huxley" } %>
  <%= partial "partials/product_listing", locals: { title: "Grant" } %>
  <%= partial "partials/product_listing", locals: { title: "Vonnegut" } %>
</div>
